* {
font-family: 'Open Sans', sans-serif;
}
#navHeader {
    background-image: url("../img/space.jpg");
    height: 200px;
    background-size: cover;
}

#mainNavbar {
    border-radius: 0;
}

.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.affix + .container-fluid {
    padding-top: 70px;
}

#recentPlanet {
    width: 600px;
    height: 400px;
}

.cover {
    object-fit: cover;
}

footer .fa {
    font-size: 30px;
    color: white;
    transition: all .2s ease-in-out;
}

footer .fa:hover {
  color: LightBlue;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
    box-shadow: 0px 500px 0px 500px #555;
}